<div class="w-full  rounded-xl bg-black px-6 py-4 text-white">

  <!-- Audio oculto -->
  <audio
    #audioPlayer
    src="assets/audio.mp3"
    class="hidden">
  </audio>

  <div class="flex items-center gap-6  w-full">

    <!-- Controles -->
    <div class="flex items-center gap-4">

      <button
        class="text-white/70 hover:text-white transition">
          <svg lucideChevronFirst class="w-5 h-5 fill-current translate-x-px"></svg>
      </button>

      <button
        class="h-12 w-12 rounded-full text-white flex items-center 
        justify-center hover:scale-105 transition">
          @if (isPlaying()) {
      
            <svg lucidePause class="w-5 h-5 fill-current"></svg>
      
          } @else {
      
            <svg lucidePlay class="w-5 h-5 fill-current translate-x-px"></svg>
      
          }
      </button>

      <button
        class="text-white/70 hover:text-white transition">
          <svg lucideChevronLast class="w-5 h-5 fill-current translate-x-px"></svg>
      </button>

    </div>

    <!-- Tiempo -->
    <span class="text-sm text-white/60 min-w-12.5">
      00:00
    </span>

    <!-- Barra progreso -->
    <div class="flex-1">
      <input
        type="range"
        min="0"
        max="100"
        value="0"
        class="w-full h-1 appearance-none bg-white/20 rounded-lg cursor-pointer">
    </div>

    <span class="text-sm text-white/60 min-w-12.5">
      03:25
    </span>

    <!-- Volumen -->
    <div class="flex items-center gap-2 w-40">
      @if(volume() === 'muted'){
        <svg lucideVolumeX class="w-5 h-5 fill-current text-white"></svg>
      }@else if(volume() === 'medium'){
        <svg lucideVolume1class="w-5 h-5 fill-current text-white"></svg>
      }@else if(volume() === 'high'){
        <svg lucideVolume2 class="w-5 h-5 fill-current text-white"></svg>
      }
      <input
        type="range"
        (input)="handleVolumeChange($event)"
        min="0"
        max="1"
        step="0.01"
        class="w-full h-1 appearance-none bg-white/20 rounded-lg cursor-pointer">
    </div>

  </div>

</div>