<nav class="w-full border-b border-white/20 px-6 py-2">
  <ul class="flex items-center gap-6"> 
    <li>
      <a routerLink="/monekai/sampler" 
         routerLinkActive="border-b-2 border-white pb-1" 
         [routerLinkActiveOptions]="{ exact: true }">
         Sampler
      </a>
    </li>
    <li>
      <a routerLink="/monekai/for-you" 
         routerLinkActive="border-b-2 border-white pb-1">
         For you
      </a>
    </li>
    <li>
      <a routerLink="/monekai/account" 
         routerLinkActive="border-b-2 border-white pb-1">
         Account
      </a>
    </li>
  </ul>
</nav>