<div class=" h-80 flex flex-col gap-1 ">
  <a routerLink="/monekai/for-you/community-shared-edit-samples" class="text-white text-lg">Samples with effects</a>
  <div class="flex items-center flex-1">
    @for(sample of listSharedEditSamples(); track sample.id){
      <app-sample-card-shared-edit [sample]="sample" />
    }@empty{
    <div class="flex items-center justify-center w-full h-full">
      <p class="text-white text-center w-full">The community hasn't shared anything yet.</p>
    </div>
    }
  </div>
</div>