<div class="w-full h-full min-h-0  grid grid-cols-1 lg:grid-cols-3 gap-6 p-6">
  
  <div class="lg:col-span-2 bg-[#0A0A0A] border border-white/5 rounded-2xl p-6 flex flex-col h-full min-h-0">
    
    <div class=" border-b border-white/10 pb-3">
      <div class="flex items-center justify-between mb-3">
        <p class="text-sm font-bold tracking-wider uppercase text-zinc-400">Sampler</p>
       
      </div>
      <div class="flex items-center">
        <ul class="flex gap-4 items-center flex-1">
          <li>
            <button 
              (click)="setSettingsMode('EFFECTS')"
              [class]="settingsMode() === 'EFFECTS' ? 'text-white underline underline-offset-4 decoration-2 font-medium' : 'text-zinc-400 hover:text-white transition-colors'"
              class="cursor-pointer text-sm">
              Effects
            </button>
          </li>
          <li>
            <button 
              (click)="setSettingsMode('CLIPPER')"
              [class]="settingsMode() === 'CLIPPER' ? 'text-white underline underline-offset-4 decoration-2 font-medium' : 'text-zinc-400 hover:text-white transition-colors'"
              class="cursor-pointer text-sm">
              Clipper
            </button>
          </li>
        </ul>
        <div class="flex items-center gap-3">
          <button class="flex items-center gap-2 text-white font-medium text-sm
            bg-purple-500 hover:bg-purple-400 px-2 rounded-md py-1 transition-colors cursor-pointer">
            <svg lucideSave class="w-4 h-4"></svg>Save project
          </button>
          <button 
            (click)="setVisiblePromptComponent(!isVisiblePromptComponent())"
            class="flex items-center gap-2 text-white font-medium text-sm
            bg-purple-500 hover:bg-purple-400 px-2 rounded-md py-1 transition-colors cursor-pointer">
            <svg lucideLayersPlus class="w-4 h-4"></svg>{{ isVisiblePromptComponent() ? 'Close text field' : 'Open text field' }}
          </button>
        </div> 
      </div>
    </div>

    <div class=" overflow-y-auto  text-zinc-400 pr-1 py-5 ">
      @if (settingsMode() === 'EFFECTS') {
        <app-audio-effects/>
      } @else if (settingsMode() === 'CLIPPER') {
        <div>✂️ Visualizador del Clipper</div>
      }
    </div>
    <app-wave-surfer class="flex-1 "/>
  </div>

  <div class="lg:col-span-1 bg-[#0A0A0A] border border-white/5 rounded-2xl p-6 flex flex-col h-full min-h-0">
    
    <div class="flex items-center justify-between mb-3">
      <p class="text-sm font-bold tracking-wider uppercase text-zinc-400">Library</p>
      <button class="text-zinc-400 hover:text-white cursor-pointer transition-colors">
        <svg lucideSearch class="w-4 h-4"></svg>
      </button>
    </div>

    <ul class="flex items-center gap-4 border-b border-white/10 pb-3 mb-4 text-sm">
      <li>
        <button 
          (click)="setListMode('PURE')"
          [class]="listMode() === 'PURE' ? 'text-white underline underline-offset-4 decoration-2 font-medium' : 'text-zinc-400 hover:text-white transition-colors'"
          class="cursor-pointer">
          Pure
        </button>
      </li>
      <li>
        <button 
          (click)="setListMode('SAVED')"
          [class]="listMode() === 'SAVED' ? 'text-white underline underline-offset-4 decoration-2 font-medium' : 'text-zinc-400 hover:text-white transition-colors'"
          class="cursor-pointer">
          Saved
        </button>
      </li>
      <li>
        <button 
          (click)="setListMode('UNSAVED')"
          [class]="listMode() === 'UNSAVED' ? 'text-white underline underline-offset-4 decoration-2 font-medium' : 'text-zinc-400 hover:text-white transition-colors'"
          class="cursor-pointer">
          Unsaved
        </button>
      </li>
    </ul>

    <div class="flex-1 overflow-y-auto min-h-0 pr-1 text-zinc-400">
      @if (listMode() === 'PURE') {
        <app-sample-pure-list></app-sample-pure-list>
      } @else if (listMode() === 'SAVED') {
        <div>📦 Lista Saved Samples</div>
      } @else if (listMode() === 'UNSAVED') {
        <div>⚠️ Lista Unsaved Samples</div>
      }
    </div>
    
  </div>

</div>

<div 
  [class]="isVisiblePromptComponent() ? 'translate-y-0' : 'translate-y-full'"
  class="absolute bottom-0 left-0 w-full z-40 transition-transform duration-300 ease-out ">
  <app-prompt-input></app-prompt-input>
</div>