<nav class="fixed w-full top-0 z-50 flex items-center
  px-10 py-3 border-b border-white/20 bg-white/2 backdrop-blur-lg ">
    <div class="flex items-center gap-3">
        <div class="size-10 rounded-lg overflow-hidden flex items-center justify-center bg-white">
            <img 
                src="monekai-logo.png" 
                alt="monekai platform logo, platform samples logo"
                class="w-full h-full object-cover scale-120" 
            >
        </div>
        <p class="font-semibold text-white">Monekai</p>
    </div>
</nav>