/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-pending-status: #eab308;
  --color-rejected-status: #ef4444;
  --color-accepted-status: #22c55e;

  --color-surface: #0A0A0A;

  --color-brand-primary: #a855f7;
  --color-brand-secondary: #c084fc;
}

@layer utilities {
  .bg-grid-gray {
    background-size: 24px 24px;
    background-image:
      linear-gradient(to right, rgba(255, 255, 255, 0.12) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.12) 1px, transparent 1px);
  }
}

* {
  scrollbar-color: #3f3f46 #000000;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}